@media (max-width: 900px) {
	.letter {
		margin: 30px 0;
		padding: 30px 20px;
	}

	.chat {
		margin: 30px 0;
	}

	.chatsHolder {
		flex-direction: column;
	}
}

@media (min-width: 901px) {
	.letter {
		margin: 30px 100px;
		padding: 30px 50px;
	}

	.chat {
		margin: 30px 100px;
	}

	.chatsHolder {
		flex-direction: row;
		align-items: flex-start;
	}
}

.chatsHolder {
	display: flex;
	justify-content: space-between;
}

body {
	background-image: url("/background.jpg");
	background-repeat: repeat;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.letter {
	background-color: #fdfdfd;
	filter: drop-shadow(10px 10px 4px #444444);
}

.chat {
	background-color: #fdfdfd;
	filter: drop-shadow(10px 10px 4px #444444);
	min-width: 30vw;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.chat .header {
	flex: 0 0 auto;
	padding: 10px;
	background-color: #eee;
	border-bottom: 1px solid #aaa;
}

.chat .input input {
	flex: 1 1 auto;
}

.chat .input button {
	flex: 0 0 auto;
}

.chat .input {
	flex: 0 0 auto;
	display: flex;
}

.chat .messages {
	flex: 1 1 auto;
}

.chat .messages .message {
	display: flex;
	margin: 10px 0;
}

.chat .messages .fromMe {
	flex-direction: row;
}

.chat .messages .fromOther {
	flex-direction: row-reverse;
}

.chat .messages .message .messageBody {
	flex: 1 0 60%;
	padding: 10px;
}

.chat .messages .message .messageSpacer {
	flex: 0 1 100%;
}

.chat .messages .fromMe .messageBody {
	background-color: #e8ffe8;
	border-radius: 5px 0 0 5px;
	border: 1px solid #254725;
	border-right: 0px;
	text-align: left;
}

.chat .messages .fromOther .messageBody {
	background-color: #ffe8e8;
	border-radius: 0 5px 5px 0;
	border: 1px solid #472525;
	border-left: 0px;
	text-align: left;
}

.loader {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.emptyMessages {
	font-style: italic;
	color: #777;
	margin: 20px auto;
}